
/*** CSS Reset ***/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

h3, h5 {
    font-weight: normal;
}

.container {
    display: flex;
}

/* Sección lateral */
.conctacts-list {
    min-height: 100vh;
    flex-basis: 40rem;
}

/* Sección de usuario info Maria */
.user-info {
    display: flex;
    justify-content:space-around;
    min-height: 6.8rem;
    border: 2px solid #dfdfdf;
    padding: 1.2rem 0;
}

.img-info-status {
    display: flex;
    position: relative;
    right: 0.3rem;
}

.img-perfil-maria {
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    width: 4.3rem;
    height: 4.3rem;
    object-fit: cover;
    margin-right: 1rem;
}

.name-status {
    position: relative;
    bottom: 1px;
}

.name-status h3 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: -0.3rem;
}

.name-status h5 {
    color: #959797;
    font-family: "Open Sans";
    font-size: 1.1rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #828485;
    cursor: pointer;
}

.fa-regular:hover, .fa-bars:hover {
    color: #A491D2;
}

/* Sección botón Nuevo Chat */
.new-chat-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14.5rem;
    border: 2px solid #dfdfdf;
    border-top: none;
    padding: 4.5rem, 5.5rem, 4.8rem, 5.5rem;
}

.new-chat-btn a {
    text-decoration: none;
    background-color: #A491D2;
    color: #fff;
    padding: 1.18rem 5.4rem;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background-color 0.3s ease-in-out;
}

.new-chat-btn a:hover {
    background-color: #b1a5cf;
}

/* Chats list */
.chat-list li {
    min-height: 8.5rem;
    border: 2px solid #dfdfdf;
    border-top: none;
    padding: 1rem 0;
}

.list-chat:hover {
    background-color: #efefef;
}

.info-chat-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.info-chat-list img {
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    width: 5.8rem;
    height: 5.8rem;
    object-fit: cover;
    margin-right: 6rem;
    margin-left: 3rem;
}

.name-msg {
    width: 100%;
    margin-left: -4.4rem;
}

.name-msg h5 {
    font-size: 1.5rem;
    font-family: "Open Sans";
    margin-top: -0.3rem;
}

/* Sección principal */
.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}

.logo-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
}

.logo-texts img {
    width: 27.5rem;
    height: 26.8rem;
    border-radius: 1.2rem;
    transition: box-shadow 0.3s ease-in-out;
}

.logo-texts img:hover {
    box-shadow: 0px 0px 40px rgba(32, 32, 32, 0.3);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text h2 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: -0.5rem;
}

.text p {
    font-family: "Open Sans";
    max-width: 51.9rem;
    font-size: 1.7rem ;
    color: #444749;
    line-height: 1.6;
}

@media (max-width: 806px) {
    /* Sección lateral */
    .conctacts-list {
        min-height: 100vh;
        flex-basis: 50rem;
    }

    .logo-texts img {
        width: 17.5rem;
        height: 16.8rem;
        border-radius: 1.2rem;
    }

    .text h2 {
        font-size: 3rem;
    }

    .text p {
        max-width: 38.4rem;
        font-size: 1.3rem ;
        color: #444749;
        line-height: 1.5;
        margin-top: .6rem;
    }
}

@media (max-width:596px) {
    .text h2 {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: .3rem;
    }
}


@media (max-width: 500px) {
    .main-content {
        display: none;
    }

    /* Sección lateral */
    .conctacts-list {
        min-height: 100vh;
        flex-basis: 100%;
    }

    .user-info {
        display: flex;
        justify-content: space-between;
    }

    .img-info-status {
        position: relative;
        left: 2rem;
    }

    .icons {
        position: relative;
        right: 2rem;
    }

    .new-chat-btn {
        height: 10.5rem;
    }

    .new-chat-btn a {
        padding: 1.2rem 4.7rem;
        font-size: 1.5rem;
    }
}